#logo {
  min-height: 500px;
}

.flex-container {
  display: flex;
  width: 100%;
  height: 60%;
  margin-top: 15%;
  margin: auto;
  margin-left: 10%;
  margin-right: 10%;


  background-image: url(../img/backdrop.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.flex-child {
  flex: 1;
}

.flex-child:first-child {
  margin-right: 20px;
}

img {
  width: 80%;
  height: auto;
}

@media (max-width: 992px) {
  .flex-container {
    flex-direction: column;
    height: auto;
    margin-top: 5%;
  }

  .custom-menu {
    margin-right: -40px !important;
  }

}