.page-section {
  margin-top: 13rem;
  margin-bottom: 2rem;
}

.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.cta .cta-inner {
  position: relative;
  padding: 3rem;
  margin: 0.5rem;
}

.cta .cta-inner:before {
  border-radius: 0.5rem;
  content: "";
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.85);
  z-index: -1;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.col-xl-9 {
  flex: 0 0 auto;
  width: 75%;
}

.bg-faded {
  background-color: rgba(237, 231, 202, 0.4);
  border-radius: 25px !important;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

.address strong {
  font-size: 1.2rem;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-hours {
  font-size: 0.9rem;
}

.list-hours .list-hours-item {
  border-bottom: 1px solid rgba(230, 167, 86, 0.5);
  padding-bottom: 0.25rem;
  margin-bottom: 1rem;
  font-style: italic;
}

.list-hours .list-hours-item.today {
  font-weight: bold;
  color: #e6a756;
}

@media (min-width: 992px) {
  .list-hours {
    width: 50%;
    font-size: 1.1rem;
  }
}

@media (max-width: 992px) {
  .page-section {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }

  .col-xl-9 {
    width: 100%;
  }
}

.d-flex {
  display: flex !important;
}