@media (max-width: 992px) {
  .flex-container {
    flex-direction: column;
    height: auto;
    margin-top: 5%;
  }

  .custom-menu {
    margin-right: -40px !important;
  }

  #content {
    padding-top: 50% !important;
  }

}